services:
  nginx:
    image: nginx:latest
    container_name: nginx_server
    hostname: nginx
    dns: 
      - 192.168.1.21
    dns_search: 
      - tlnnegm.local
      - tlnnegm.com
      - drownedashes.com
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
    volumes:
      - ./nginxdata:/etc/nginx:rw
      - ./www:/www
    restart: unless-stopped
    networks:
      - vmnw

networks:
  vmnw:
    external: true
    name: vm_nw
